* {
  border: 2px solid black;
  padding: 15px;
  margin: 15px;
}

html {
  margin: 0;
  padding: 0;
}

body {
  max-width: 600px;
  margin: 30px auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
}
