html,
body {
  height: 100%;
}
body {
  text-align: center;
}
.biru-muda {
  background-color: lightblue;
}
.abu-abu {
  background-color: rgb(56, 55, 55);
}
button {
  margin: 20px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

.kotak {
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.8);
}
.kotak.merah {
  width: 35px;
  height: 25px;
  background-color: red;
  margin: 20px auto;
}

.kotak.hijau {
  width: 35px;
  height: 25px;
  background-color: green;
  margin: 20px auto;
}

.kotak.biru {
  width: 35px;
  height: 25px;
  background-color: blue;
  margin: 20px auto;
}
