body {
  text-align: center;
}
.biru-muda {
  background-color: lightblue;
}
.abu-abu {
  background-color: rgb(56, 55, 55);
}
button {
  margin: 20px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}
