/* 

---


*/
* {
  border: 2px solid #dedede;
  padding: 15px;
  margin: 15px;
}
html {
  padding: 0;
  margin: 0;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  max-width: 600px;
  margin: 30px auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
}

p {
  text-transform: lowercase;
}
button {
  text-transform: capitalize;
}

.biru-muda {
  background-color: lightgoldenrodyellow;
}
